# Compiled Sources
###################
*.map
*.hex
*.dis

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap Files
######################
*.swp

# Build directory
######################
build/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/

cscope.*
build_info.h
.vscode

# Ignore unzipped tools and toolchaind

MicroPython_RTL8722/ports/rtl8722/amebad_tool/toolchain/cygwin
MicroPython_RTL8722/ports/rtl8722/amebad_tool/toolchain/linux
MicroPython_RTL8722/ports/rtl8722/amebad_tool/tools/windows
MicroPython_RTL8722/ports/rtl8722/amebad_tool/tools/linux
